events {}

http {
    upstream webservers {
        server {{ ansible-worker-1.ansible_hostname }};
        server {{ ansible-worker-2.ansible_hostname }};
        server {{ ansible-worker-3.ansible_hostname }};
    }

    server {
        listen 80;

        location / {
            proxy_pass http://webservers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}
